body {
 background-color: white;
}

h1 {
  color: green;
  font-size: 35px;
  font-family: 'Cascadia Code', sans-serif; /* Arial, sans-serif */
}

h4, h2, h3 {
  color: green;
}

ul {
  font-size: 20px;
  color: green;
}

div {
  color: black;
}
h3{
  color:green 
}
